* {
    margin: 0;
    padding: 0;
}

:root {
    --font-color: white;
    --bg-color: hsl(356, 100%, 66%);
}

html {
    font-size: 62.5%;
}

.head {
    background-color: var(--bg-color);

    min-height: 100vh;
    min-width: 100vw;
}

/* footer section */

footer {
    display: flex;
    background-color: gray;
    align-items: center;
    width: 80vw;
    height: 90px;
    margin: 20px auto;

    justify-content: space-between;
}

.logo p {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--font-color);
}

.menu-lists {
    list-style: none;
}

.menu {
    position: relative;
}

.menu-title {
    display: flex;
    align-items: center;
}

.menu-title i {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--font-color);
    position: relative;
    top: 2px;
}


.menu-title p {
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--font-color);
    margin: 0;
}


.dropdown {
    list-style: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--font-color);
    display: none;

    position: absolute;
    top: 25px;
    left: 50px;

}

.menu:hover .menu-title i {
    transform: rotate(90deg);
}

.menu:hover .dropdown {
    display: block;
}

.ci-btn button {
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 22px;
}

.login {
    background: none;
    font-size: 1.6rem;
    font-weight: 900;
    color: var(--font-color);
    margin-right: 16px;
}

.signin {
    background-color: var(--font-color);
    font-size: 1.6rem;
    font-weight: 900;
    color: var(--bg-color);
}

/* hero__Section */

.hero_sec {
    width: 60vw;
    margin: 10% auto 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_sec h1 {
    font-size: 6rem;
    margin-bottom: 1.5rem;

    font-weight: 200;
    color: var(--font-color);
}

.hero_sec p {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    color: var(--font-color);
}

.ctn-btn {
    display: flex;
    gap: 1.5rem;
    min-width: 40%;

}

.btn1 {
    box-sizing: border-box;

    padding: 1rem 2.2rem;
    border: none;
    border-radius: 22px;

    font-size: 1.5rem;
    font-weight: 900;
    color: var(--bg-color);
}

.btn2 {
    box-sizing: border-box;
    background: none;

    padding: 1rem 2.2rem;
    border: 3px solid white;
    border-radius: 22px;

    font-size: 1.5rem;
    font-weight: 900;
    color: var(--font-color);
}

/* mobile menu design  */

@media (max-width: 750px) {
    footer {
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin: 0 auto;

    }
}