* {
    margin: 0;
}

.navigation {
    width: 80vw;

    display: flex;
    gap: 30px;
    justify-content: center;
    height: 90px;

    background-color: rgb(11, 186, 240);
}

.list-link a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 22px;
}

.list-link a:hover{
    color: green;
}

.dropdown {
    width: 150px;
    background-color: black;
    border: none;
    border-radius: 14px;
    padding: 25px 0px;
    margin-top: 15px;
    display: none;
    
}

.dropdown li {
    background-color: rgb(247, 251, 255);
    list-style: none;
    color: rgb(10, 9, 9);
    padding: 8px 12px;
    margin: 4px 0px;
}


.dropdown li:hover {
    background-color: skyblue;
}

.Home:hover .dropdown{
    display: block;
}
